@font-face {
    font-family: 'Proxima Nova Soft';
    src: url('ProximaNovaSoft-Regular.eot');
    src: url('ProximaNovaSoft-Regular.eot?#iefix') format('embedded-opentype'),
        url('ProximaNovaSoft-Regular.woff2') format('woff2'),
        url('ProximaNovaSoft-Regular.woff') format('woff'),
        url('ProximaNovaSoft-Regular.ttf') format('truetype'),
        url('ProximaNovaSoft-Regular.svg#ProximaNovaSoft-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Soft Sb';
    src: url('ProximaNovaSoft-Semibold.eot');
    src: url('ProximaNovaSoft-Semibold.eot?#iefix') format('embedded-opentype'),
        url('ProximaNovaSoft-Semibold.woff2') format('woff2'),
        url('ProximaNovaSoft-Semibold.woff') format('woff'),
        url('ProximaNovaSoft-Semibold.ttf') format('truetype'),
        url('ProximaNovaSoft-Semibold.svg#ProximaNovaSoft-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Soft';
    src: url('ProximaNovaSoft-Bold.eot');
    src: url('ProximaNovaSoft-Bold.eot?#iefix') format('embedded-opentype'),
        url('ProximaNovaSoft-Bold.woff2') format('woff2'),
        url('ProximaNovaSoft-Bold.woff') format('woff'),
        url('ProximaNovaSoft-Bold.ttf') format('truetype'),
        url('ProximaNovaSoft-Bold.svg#ProximaNovaSoft-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Soft Md';
    src: url('ProximaNovaSoft-Medium.eot');
    src: url('ProximaNovaSoft-Medium.eot?#iefix') format('embedded-opentype'),
        url('ProximaNovaSoft-Medium.woff2') format('woff2'),
        url('ProximaNovaSoft-Medium.woff') format('woff'),
        url('ProximaNovaSoft-Medium.ttf') format('truetype'),
        url('ProximaNovaSoft-Medium.svg#ProximaNovaSoft-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

